/* layout */
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

#header {
    height: 50px; 
    top: 0; 
}

#content { 
    top: 50px; 
    bottom: 0px; 
}

#header h1 {
    padding: 6px;
    margin: 0px;
    float: left;
}
#header #shoutout {
    padding: 6px;
    float: right;
}

.col.outline {
    width: 250px;
}

.col.current-page {
     left: 250px;
}

/* styling */


